<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{.StylesPath}}main.css">
        <link rel="stylesheet" href="{{.StylesPath}}homepage.css">
        <title>404 Error</title>
    </head>
    <body>
        <div class="wrapper flex-center" style="display: flex; flex-direction: column;">
            <header>
                <h1 class="animated" subtitle="File not found">Error 404</h1>
            </header>
            <main>
                <section>
                    <p>
                        <strong>This article may not exit or has been removed</strong><br/>
                        If you think is a mistake feel free to <a class="gradient-link" href="https://t.me/DazFather">contact me via Telegram</a>
                    </p>
                </section>
            </main>
        </div>
    </body>
</html>
