:root {
    --White: hsl(0, 0%, 85%);
    --Gray: hsl(0, 0%, 60%);
}

.caps {
    font-size: 0.8em;
    margin: 0.8em 0;
    text-transform: uppercase;
}

body {
    color: var(--White);
    background-color: var(--Carbon);
    position: relative;
}

#navbar {
    background-color: var(--DarkCarbon);
    box-shadow: 0 0 1em var(--Carbon);
    height: 2.5em;
    display: flex;
    width: 100%;
    color: var(--Gray);
}

header {
    padding: 1em;
    min-height: 30vw;
    width: calc(100% - 2em);
    display: flex;
    align-content: center;
    align-items: center;
    text-align: left;
    position: sticky;
    top: 0;
    overflow: hidden;
}
header .bg {
    position: absolute;
    top: 0;
    left: calc(50% - 1em);
    margin: 1em;
    width: calc(100% - 2em);
    transform: translateX(-50%);
    opacity: 0.85;
    /*filter: blur(0.3em) brightness(70%);*/
    z-index: -1;
}
header .bg::after{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: inset 0 0 1em 1em var(--Carbon);
    -moz-box-shadow: inset 0 0 1em 1em var(--Carbon);
    box-shadow: inset 0 0 1em 1em var(--Carbon);
    overflow: hidden;
}

#suggested {
    background: var(--FullGradient);
    display: inline-block;
    width: 35vw;
    border-radius: 1.5em;
    overflow: hidden;
    text-align: center;
    color: var(--White);
    margin: 1em;
}
#suggested > h3 {
    margin: 0.8em 0;
}
#suggested > nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
    border: 5px solid var(--Carbon);
    background-color: var(-Carbon);
    margin: 0.5em;
    margin-top: 0;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 1em;
    max-height: 15em;
}

.cover {
    width: 20em;
    display: flex;
}
.cover img {
    width: 100%;
    border-radius: 1em;
}

#index {
    width: max-content;
    border: 0.5em solid var(--Carbon);
    background-color: var(--LightCarbon);
    color: var(--Gray);
    border-radius: 1em 0 0 1em;
    margin-left: auto;
    padding: 0.5em;
}
#index h3 {
    text-align: center;
    margin: 0;
}
#index .details {
    padding: 0 0 0 2ch;
    margin: 0.5em 0 0 0;
}
#index .details a {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}

main {
    margin-top: -3em;
    position: sticky;
}

#infobar {
    position: sticky;
    top: -0.1em;
    margin: -100% 11em 0 calc(20vw + 3em);
    z-index: 1;
    min-width: 16em;
    opacity: 0.85;
    background-color: var(--DarkCarbon);
    box-shadow: 0 0 1em var(--DarkCarbon);
    transition: opacity 0.5s, min-width 0.5s, margin 0.5s, border-radius 1s;
}
#infobar:hover {
    opacity: 1;
}
#infobar.is-pinned {
    opacity: 1;
	margin: 0;
    margin-top: -100%;
    border-radius: 0 0 0.5em 0.5em;
    min-width: 100%;
}
#infobar h1 {
    display: inline-block;
    text-fill-color: transparent;
    background: var(--RedGradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5em;
    padding: 0;
    margin: 0.8rem;
}
#infobar div {
    margin: 0.5em;
}

#shareBtn {
    cursor: pointer;
    float: right;
    margin: 0.8rem 0.5em;
    position: relative;
    border-radius: 0.3em;
    border: var(--Gray) solid 0px;
    display: flex;
    background-color: var(--LightCarbon);
    color: var(--Gray);
    filter: brightness(145%);
    transition: box-shadow 0.5s;
}
#shareBtn:hover {
    box-shadow: var(--LightCarbon) 0 0 0.5em;
}
#shareBtn:hover div {
    max-width: 10em;
}
#shareBtn div i {
    padding-right: 1ch;
    font-size: inherit;
}
#shareBtn div p {
    margin: 0;
    padding: 0;
    width: max-content;
}
#shareBtn div span {
    padding-bottom: 0.2em;
}
#shareBtn div {
    transition: max-width 1s;
    max-width: 2ch;
    overflow: hidden;
    display: inline-block;
    width: max-content;
    margin: 0;
}
#shareBtn .tooltip {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: max-content;
    color: var(--DarkCarbon);
    background-color: var(--Gray);
    padding: 0.1em 0.3em;
    border-radius: 0.3em;

    z-index: -1;
    bottom: 0;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}
#shareBtn .tooltip.opened {
    bottom: 2.5em;
    opacity: 1;
}
#shareBtn .tooltip::before {
    content: "";
    position: absolute;
    top: 95%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--Gray) transparent transparent transparent;
}

.progress-container {
    display: block;
    width: 100%;
    border-radius: 0.5em;
    overflow: hidden;
    margin: auto;
    margin-top: 0.5em;
    height: 0;
    transition: height 0.5s;
    background-color: var(--LightCarbon);
    filter: brightness(120%);
}
#progressbar {
    margin: 0;
    height: 0.5em;
    background: var(--RedGradient);
    width: 100%;
    border-radius: inherit;

    transition: height 0.5s, width 0.1s;
}


#infobar.is-pinned .progress-container {
    height: 0.5em;
    visibility: visible;
}

.white-section {
    background-color: var(--LightCarbon);
    color: var(--Gray);
    display: inline-block;
    border-radius: 1em;
}

.content {
    box-shadow: var(--DarkCarbon) 0 0 1em;
    margin: 1em;
    padding: 1em;
    width: calc(100% - 4em);
}

.content h2 {
    font-size: 1.4em;
}

.content blockquote {
    background-color: var(--Carbon);
    padding: 0.1px 0.5em;
    margin: 0;
    border-radius: 0.2em 0.2em 0.2em 0.5em;
    border-left: 0.3em solid var(--DarkCarbon);
    display: block;
}

.content pre {
    /*display: inline-block;*/
    max-width: 100%;
    overflow: auto;
}

#footer {
    position: sticky;
    background-color: var(--DarkCarbon);
    color: gray;
    display: inline-block;
    z-index: -1;
}

.curve {
    position: absolute;
    top: -80vh;
    left: -25%;
    width: 600px;
    height: 600px;
    border-radius: 100% 90% 80% 90%;
    border: 5px solid var(--Blue);
    -webkit-box-shadow: -5px 5px 0 0 var(--Magenta);
    z-index: -1;
    opacity: 0.5;
    animation: live-wave 6s linear infinite;
}
@keyframes live-wave {
    0% {transform: rotate(0); top: -75vh; border-color: var(--Blue); }
    50% {transform: rotate(180deg); top: -76vh; border-color: var(--Purple); }
    100% {transform: rotate(360deg); top: -75vh; border-color: var(--Blue); }
}


@media (prefers-reduced-motion), (update: none), (max-width: 900px) {
    .animated, #suggested, #index {
        display: none;
    }

    header {
        padding: 0;
        width: 100%;
        overflow: visible;
    }
    header .bg {
        margin: 0;
        width: 100%;
        left: 50%;
    }

    #infobar {
        margin: 0 2em;
        min-width: calc(100% - 4em);
    }
    #infobar.is-pinned {
        margin-top: 0;
    }

    #shareBtn div {
        max-width: 10em;
    }
}
