html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100vw;
    height: 100vh;
}

/* ---- PALETTE ---- */
:root {
    --DarkCarbon: #141414;
    --Carbon: #222;
    --LightCarbon: #333333;

    --Magenta: hsl(290, 70%, 50%); /* hex: #BA26D9 */
    --Purple: hsl(260, 70%, 50%); /* hex: #6126D9 */
    --Blue: hsl(230, 70%, 50%); /* hex: #2645D9 */

    --FullGradient: linear-gradient(230deg, var(--Magenta) 0%, var(--Blue) 100%);
    --FirstGradient: linear-gradient(270deg, var(--Magenta) 0%, var(--Purple) 100%);
    --SecondGradient: linear-gradient(270deg, var(--Purple) 0%, var(--Blue) 100%);
    --RedGradient: linear-gradient(to right, indianred 0%, var(--Magenta) 100%);
}

/* ---- UTILITY ---- */

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.description {
    font-size: 0.6rem;
    margin-bottom: 0.5em;
    opacity: 0.4;
    text-transform: uppercase;
}

code {
    background-color: var(--Carbon);
    padding: 0.1em 0.2em;
    border-radius: 0.3em;
    color: hsl(0, 0%, 80%);
    filter: brightness(80%);
}

.space {
    background: linear-gradient(45deg, var(--DarkCarbon) 0%, var(--Blue) 100%);
    color: white;
    font-weight: normal;
}

.gradient-link {
    background: var(--FirstGradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 1em;
    transition: font-size 1s;
}
.gradient-link:hover {
    font-size: 1.1em;
}

.snippet-holder {
    width: max-content;
    border-radius: 1.5em;
    margin: auto;
    overflow: hidden;
    display: inline-block;
}

.snippet-holder h3 {
    margin: 0.5em;
    padding: 0;
}

.snippet-holder nav {
    background-color: var(--Carbon);
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 5px;
    border: 5px solid var(--Carbon);
    margin: 0.5em;
    margin-top: 0;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 1em;
    max-height: 25em;
}

.snippet-holder article {
    position: relative;
    display: block;
    font-size: 0.95em;
    max-height: 6em;
    min-height: 3em;
    overflow: hidden;
    background-color: var(--LightCarbon);
    gap: 0.3em;
    border: 0.3em solid var(--LightCarbon);
    border-radius: 0.3em;
    text-align: left;
    transition: min-height 0.5s;
}
.snippet-holder article:hover {
    min-height: 7em;
}

.snippet-cover {
    max-height: inherit;
    height: 100%;
    min-height: inherit;
    width: auto;
    display: inline-block;
    border-radius: inherit;
}

.snippet-holder .title {
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    color: lightgray;
    display: inline;
    font-size: 1.1em;
    transition: color 0.5s;
}
.snippet-holder .title:hover {
    color: white;
}

.snippet-holder .snippet {
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    margin-left: 0.5em;
    width: auto;
    height: 100%;
    color: darkgray;
    overflow: hidden;
}

.snippet p {
    margin: 0;
    display: inline-block;

    background: linear-gradient(180deg, darkgray 0%, transparent 100%);
    background-size: 80%;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 100%;
    height: 100%;
    overflow: hidden;

    max-height: 6em;
}

footer{
    display: inline-block;
    font-size: 0.8em;
    width: 100%;
    position: absolute;
    bottom: 0;
}

/* Disable all the animation if user request it or the device is not powerful */
@media (prefers-reduced-motion), (update: none), (max-width: 900px) {
    .animated {
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
    }
}
